<!-- Footer -->
<footer class="text-center text-lg-start bg-primary bg-opacity-50  bg-gradient">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block ">
        <span>Puede conectarse con nosotros mediante nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
     
      <div>
    <!--
       Right 
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
    -->
        <a href="https://github.com/gonzaloramireziti/shopp" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5 ">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Grupo 7 - Ingenieria de Software 
            </h6>
            <p>
              Actividad 2: testing de la catedra de ingenieria de software de UTN - FrLP.
              Grupo 7 - Gonzalo Ramirez. Emanuel Rodriguez.
            </p>
          </div>
          <!-- Grid column -->
  
          
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Av. del Petroleo Argentino 417, Berisso, Provincia de Buenos Aires</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              emanuelrodriguez644@gmail.com - gonzaloramireziti@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 54 221 306 99 74</p>
            <p><i class="fas fa-print me-3"></i> + 54 2317 57 23 50</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 bg-primary bg-opacity-100 bg-gradient" style="background-color: rgba(0, 0, 0, 0.05);">
        <p class="mb-0">
            &copy;
            <script>
            document.write(new Date().getFullYear());
            </script>
            <a> Grupo 7 - Ingenieria de Software</a>
     
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->