<div class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-75 bg-gradient">
        <div class="container">  
            <strong class="navbar-brand"> Shopp </strong>
                <p style="color: white ;margin-top: 1.5rem;; font-family: 'Montserrat', sans-serif;">¿Como contactarnos? </p> 
                <p style="color: white ;margin-top: 1.5rem;font-family: 'Montserrat', sans-serif;"><i class="fa-solid fa-phone"></i> Telefono: +54 221 6650214</p>
                <p style="color: white ;margin-top: 1.5rem;font-family: 'Montserrat', sans-serif;"><i class="fa-solid fa-house"></i> Domicilio: Calle Falsa 123</p>
                <p style="color: white ;margin-top: 1.5rem;font-family: 'Montserrat', sans-serif;"><i class="fa-solid fa-envelope"></i> Email: theShoop@gmail.com</p> 
        </div>
</div>