<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-75 bg-gradient">
    <div class="container">
        <a class="navbar-brand" href="/"> Shopp </a>
        <form class="d-flex w-25" role="search">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar producto, marca y mas ..."
                    aria-label="Buscar producto, marca y mas ..."
                    aria-describedby="search-btn">
                <button class="btn btn-light"
                    type="button"
                    id="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
</nav>
