<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-75 bg-gradient">
    <div class="container">
        <a class="navbar-brand" href="/"> Shopp </a>
        <form class="d-flex w-50" role="search">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar producto, marca y mas ..."
                    aria-label="Buscar producto, marca y mas ..."
                    aria-describedby="search-btn">
                <button class="btn btn-light" type="button">
                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                    <span class="sr-only" id="search-btn-buscar">Buscar</span>
                </button>
            </div>
        </form>

        <a href="/cart" class="btn btn-light">
            <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
            <span class="sr-only" id="search-btn-carrito">Carrito</span>
        </a>
    </div>
</nav>
