{% macro pagination(totalPages, currentPage) %}
    <nav class="pagination fs-5">
        <ul class="hstack gap-3">
            {% if (currentPage != 1) %}
                <li class="paginat_prev">
                        <a href="?page={{ currentPage - 1 }}" style="color: black; font-size: 2rem;">< Anterior</a>
                </li>
            {% endif %}
            <li>
                <span class="current" aria-current="page">
                    {{ currentPage }}
                </span> de {{ totalPages }}
            </li>
            {% if (currentPage != totalPages) %}
            <li class="pagination__next">
                <a href="?page={{ currentPage + 1 }}"  style="color: black; font-size: 2rem;">Siguiente ></a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endmacro %}