{% macro productCard(product) %}
<div class="product card">
    <div class="card-body d-flex flex-row">
        <img
            src="https://via.placeholder.com/150"
            alt="foto de un {{ product.name }}"
            width="150px"
            height="150px"
            class="rounded"
            loading="async"
        />
        <div class="ms-3">
            <h5 class="card-title mb-0">{{ product.name }}</h5>
            <p class="card-text">
                <small class="text-muted">{{ product.type }}</small>
            </p>
            <p class="fs-3">$ {{ product.price }}</p>
            <p class="fs-3">Descripcion: {{ product.description }}</p>

            {% if (product.discount > 0) %}
                <p class="small" data-testid="discount">{{ product.discount }} %</p>
            {% endif %}
        </div>

        <div class="flex-grow-1 d-flex align-items-center justify-content-end">
            <!-- Si tiene definido CartProduct quiere decir que estamos en el carrito -->
            {% if (not product.CartProduct ) %}
                <form action="/cart" method="POST">
                    <input type="text" class="d-none" name="productid" value="{{ product.id }}">
                    <button type="submit" class="btn btn-outline-dark">Agregar a carrito</button>
                </form>
            {% else %}
                <div class="product__quantity fs-4 bold">
                    {{ product.CartProduct.quantity }} en carrito
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}
