<!-- prettier-ignore -->
{% import "_product-card.html" as productCard %}
{% import "_pagination.html" as _pagination %}
{% extends "_base.html" %}

{% block main %}
<div class="row">
    <div class="col mt-4 vstack gap-2">
        {% for product in products %}
            {{ productCard.productCard(product) }}
        {% endfor %}
    </div>
</div>
<div class="row mt-4">
    {{
        _pagination.pagination(pagination.totalPages, pagination.currentPage)
    }}
</div>
<footer>
    <div>
        <p>Teléfono: 111-222-333</p>
        <p>Dirección: Calle falsa 123</p>
        <p>Email: atencion@shopp.com</p>
    </div>
</footer>
{% endblock %}
