<!-- prettier-ignore -->
{% import "_product-card.html" as productCard %}
{% import "_pagination.html" as _pagination %}
{% extends "_base.html" %}

{% block main %}
<div class="row">
    <div class="col mt-4 vstack gap-2">
        {% for product in products %}
            {{ productCard.productCard(product) }}
        {% endfor %}
    </div>
</div>
<div class="row mt-4">
    {{
        _pagination.pagination(pagination.totalPages, pagination.currentPage)
    }}
</div>
<footer>
    <h3 class="pagination">Información de contacto:</h3>
    <p class="pagination"><b>mail: </b> shopp@gmail.com &nbsp &nbsp &nbsp &nbsp <b>telefono: </b> 0123456789 &nbsp &nbsp &nbsp &nbsp <b>dirección: </b> calle falsa 123</p>
</footer>
{% endblock %}
