<!-- prettier-ignore -->
{% import "_product-card.html" as productCard %}
{% import "_pagination.html" as _pagination %}
{% extends "_base.html" %}

{% block main %}
<div class="row">
    <div class="col mt-4 vstack gap-2">
        {% for product in products %}
            {{ productCard.productCard(product) }}
        {% endfor %}
    </div>
</div>
<div class="row mt-4">
    {{
        _pagination.pagination(pagination.totalPages, pagination.currentPage)
    }}
</div>


<footer>
	<h1>Datos de Contacto</h1>
	<p>Teléfono: +54(9) 2216421288</p>
	<p>Calle 13 N° 1037, Piso 2 oficina 13 <br>
	La PLata<br>
	Argentina</p>
	<p><a href="mailto:info@shopp.com.ar">info@shopp.com.ar</a></p>
</footer>

{% endblock %}

