:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(0, 183, 255);
}

.navbar-brand {
    font-family: 'Macondo', 'Montserrat', sans-serif;
    font-size: 2rem;
}

.pagination {
    justify-content: center;
}

.pagination .current {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: white;
}

.pagination .pagination__next {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: white;
}

.pagination ul {
    list-style: none;
    display: flex;
}
